@page "/tasks"   

<div class="container-cards"> 
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                </div> 
                 <Calendar></Calendar>
            </div>
        </div>
    </div> 
    <div class="searchbar-container">
        <div class="input-group mb-4">
            <input type="text" class="form-control" id="search-bar" placeholder="Search for Task">
            <span class="input-group-text"><MudIcon Icon="@Icons.Material.Filled.Search" Size="Size.Small"/></span>
        </div>
    </div>
   <div class="header-container">  
       <span>Task</span>
        <span> 
            <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Color="Color.Default" Size="Size.Small"/> 
            August 2024    
        </span>
   </div>
       <div class="wrapper-swiper"> 
            @foreach (var Dates in MonthAndDays)
            {
                <div class="cards-container" id="@(IsActive(@Dates.DayNumber) ? "active-tab" : "")" onclick="@(() => GetTaskAsyncByDate(@Dates.DayNumber))">
                    <div class="test">@Dates.DayName</div>
                    <div>@Dates.DayNumber</div>
                </div>
            }
    </div>
</div>
<BottomNavbar></BottomNavbar> 

@code{

    private DateTime? _date = DateTime.Today; 
    public string TextValue { get; set; }

  
}
