@page "/calendar" 
@using System.Globalization

<div class="calendar-container"> 
    <span>
        <button @onclick="PreviousMonth">Previous</button>
        <span>@(CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(MonthNow)) @YearNow.ToString()</span>
        <button @onclick="NextMonth">Next</button>
    </span>
    <table class="calendar-table"> 
        <thead>
            <tr> 
                @foreach (var dayname in DayName)
                {
                   <th>@dayname</th>
                }
            </tr>
        </thead> 
        <tbody>
            @foreach (var WeekDays in Weeks)
            {
                <tr>
                    @foreach (var days in WeekDays)
                    {
                        <td>
                            @if (days.HasValue)
                            {
                                <span id ="@(IsActive(days.Value.Day) ? "active-tab":"")"> @days.Value.Day</span>    
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<BottomNavbar></BottomNavbar>